# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

/app/generated/prisma
#some files
/app/dashboard/page_copy.tsx
/app/components/NeonSpinner copy.tsx
/app/components/NeonSpinner.tsx
/app/components/NeonSpinnerDual.tsx
/server_prev.ts
/app/components/tasks/TaskCreator copy.tsx
/app/components/tasks/TaskList copy 2.tsx
/app/components/tasks/TaskList-first variant.tsx
/app/pwa/clients/web.tsx
/app/pwa/actions.ts

